// Colors
$color-primary: #54c6eb;
$color-secondary: #1e91d6;

$indigo: #6610f2;
$purple: #6f42c1;
$teal: #20c997;
$cyan: #17a2b8;
$primary: #007bff;
$secondary: #6c757d;
$pink: #e83e8c;
$pink-dark: #b40b5a;

$color-white: #fff;
$color-black: #000;

$color-bg-primary: #f6faff;
$font-color-bg: #312f2f;

// Font
$font-family: "Nunito", sans-serif;

// clip-paths
$bg-bottom-side-clip: polygon(50% 0%, 100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
$bg-top-bottm-side-clip: polygon(50% 8%, 100% 0, 100% 92%, 50% 100%, 0 92%, 0 0);
